@import "compass";

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
    
}

/* hero background image */
.bgimage {
    height: 100vh; /* Full viewport height */
    filter: brightness(100%);
    background-size: cover; /* Ensures the image covers the entire background area */
    background-position: center; /* Centers the background image */
    position: relative;
    /* A linear gradient over the image to make the text on top more readable */
    background-image: linear-gradient(to bottom, rgba(83, 0, 0, 1), rgba(255, 255, 255, 0.3)), url('images/heroImage.jpeg');
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}

/* Additional styling for mobile devices if necessary */
@media (max-width: 768px) {
    .bgimage {
        /* Any specific styles for mobile can be added here */
    }
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    
}
.hero_desc {
    font-size: 2rem;
    
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    
    
}

/* spacing on all sections */
#about, #skills, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
    
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* skills section css */
.skillsText.card {
    height: 280px;
    cursor: pointer;
    
  }
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
    
}
.card-title {
    text-align: center;
    
}
.card:hover .skillsIcon {
    color: #008000;
}
.skillsText:hover {
    border: 1px solid #008000;
    
}


/* Ensure the parent row is a flex container */
.row.d-flex {
    display: flex;
    flex-wrap: wrap;
}

/* Make sure each column is a flex container and cards take full height */
.col-lg-4.d-flex {
    display: flex;
    flex-direction: column;
}

/* Ensure the card fills the height of the column */
.card.flex-fill {
    flex: 1;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}
p{
    font-family: "Times New Roman", Times, serif;
}
ul{
    font-family: "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Times, serif;
}
a.navbar-brand {
    font-family: "Times New Roman", Times, serif;
}

img {
    max-width: 100%; /* Set the maximum width to 100% of its container */
    height: 400px; /* Maintain the aspect ratio */
}






button {
    position: relative;
    padding: 20px 35px;
    margin: 10px;
    border: 2px solid black;
    background: steelblue;
    @include transition(all 300ms);
    z-index: 1;
    color: white;
    font-weight: 700;
    overflow: hidden;
    
    &:hover {
      border-color: steelblue;
      color: steelblue;
    }
    
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0; bottom: 0; left: 0; right: 0;
      @include transition(all 300ms);
      background: white;
    }
  }
  
  /* Slide from left */
  
  .slide::after {
      height: 100%;
      width: 0;
  }
  
  .slide:hover::after {
    width: 100%;
  }
  
  /* Slide from top */
  
  .slidetop::after {
      height: 0;
      width: 100%;
  }
  
  .slidetop:hover::after {
    height: 100%;
  }
  
  /* Fill with a rectangle */
  
  .fill::after {
    height: 100%;
    width: 100%;
    @include transform(scale(0));
  }
  .fill:hover::after {
    @include transform(scale(1));
  }
  
  /* Fill with Elipse */
  
  .fillelipse::after {
    top: -25%;
    left: -25%;
    height: 150%;
    width: 150%;
    @include transform(scale(0));
    @include border-radius(50%);
  }
  .fillelipse:hover::after {
    @include transform(scale(1,1));
  }
  
  /* Slide Skew from the left */
  
  .slideskew::after {
    width: 0;
    height: 100%;
    left: -25%;
    @include transform(skewX(45deg));
  }
  .slideskew:hover::after {
    width: 150%;
  }
  
  /* Fill Skew */
  
  .fillskewclose {
    color: steelblue;
    border-color: steelblue;
    
    &:hover {
      color: white;
      border-color: black;
    }
  }
  
  .fillskewclose::after {
    left: -20%;
    right: -20%;
    @include transform(skewX(-45deg) scale(1,1));
  }
  .fillskewclose:hover::after {
    @include transform(skewX(-45deg) scale(0,1));
  }
  
  /* Fill Skew */
  
  .fillskewopen::after {
    left: -20%;
    right: -20%;
    @include transform(skewX(45deg) scale(0,1));
  }
  .fillskewopen:hover::after {
    @include transform(skewX(45deg) scale(1,1));
  }