/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
    
}

/* hero background image */
.bgimage {
    height: 100vh; /* Full viewport height */
    filter: brightness(100%);
    background-size: cover; /* Ensures the image covers the entire background area */
    background-position: center; /* Centers the background image */
    position: relative;
    /* A linear gradient over the image to make the text on top more readable */
    background-image: linear-gradient(to bottom, rgba(83, 0, 0, 1), rgba(255, 255, 255, 0.3)), url('images/heroImage.jpeg');
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}

/* Additional styling for mobile devices if necessary */
@media (max-width: 768px) {
    .bgimage {
        /* Any specific styles for mobile can be added here */
    }
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    
}
.hero_desc {
    font-size: 2rem;
    
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    
    
}

/* spacing on all sections */
#about, #skills, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
    
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* skills section css */
.skillsText.card {
    height: 280px;
    cursor: pointer;
    
  }
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
    
}
.card-title {
    text-align: center;
    
}
.card:hover .skillsIcon {
    color: #008000;
}
.skillsText:hover {
    border: 1px solid #008000;
    
}


/* Ensure the parent row is a flex container */
.row.d-flex {
    display: flex;
    flex-wrap: wrap;
}

/* Make sure each column is a flex container and cards take full height */
.col-lg-4.d-flex {
    display: flex;
    flex-direction: column;
}

/* Ensure the card fills the height of the column */
.card.flex-fill {
    flex: 1;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}
p{
    font-family: "Times New Roman", Times, serif;
}
ul{
    font-family: "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Times, serif;
}
a.navbar-brand {
    font-family: "Times New Roman", Times, serif;
}

img {
    max-width: 100%; /* Set the maximum width to 100% of its container */
    height: 400px; /* Maintain the aspect ratio */
}